
html {
  width: auto;
	/* font-size:62.5%; */
}
@media (max-width: 4500px) {
  html {
    font-size:75%;
  }
}
@media (max-width: 2000px) {
  html {
    font-size:60%;
  }
}
@media (max-width: 1900px) {
  html {
    font-size:40%;
  }
}
@media (max-width: 300px) {
  html {
    font-size:25%;
  }
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}
.desktop-layout-msU {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}
.auto-group-be6a-ewG {
  width: 100%;
  height: 136.4rem;
  position: relative;
  flex-shrink: 0;
}
.header-primary-xSA {
  box-sizing: border-box;
  padding: 1.2rem 16rem;
  width: 192.0806rem;
  height: 7rem;
  position: absolute;
  left: 0.0097rem;
  top: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #ffffff;
}
.frame-2581-Kg2 {
  margin-right: 33.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.image-2-rAA {
  margin-right: 1rem;
  width: 4.6rem;
  height: 4.6rem;
  position: relative;
  background-size: 136.915% 100%;
  background-position: -0.7569rem 0;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
  border-radius: 100rem;
  flex-shrink: 0;
}
.sermed-fdQ {
  margin: 1.724rem 0rem 1.724rem 0rem;
  height: calc(100% - 3.448rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.vector-Rkz {
  margin: 0rem 0.063rem 0rem 0rem;
  width: 0.88rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-7dp {
  margin: 0.016rem 0.223rem 0rem 0rem;
  width: 0.96rem;
  height: 1.136rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-Ac6 {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-Rnv {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-K7c {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-BvW {
  margin: 0rem 0.055rem 0rem 0rem;
  width: 0.88rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-2w8 {
  margin: 0rem 0.48rem 0rem 0rem;
  width: 1.024rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-rfG {
  margin: 0rem 0.177rem 0rem 0rem;
  width: 0.848rem;
  height: 1.152rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-6pW {
  margin: 0rem 0.175rem 0rem 0rem;
  width: 0.72rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-wq8 {
  margin: 0rem 0.144rem 0rem 0rem;
  width: 0.848rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-rBQ {
  margin: 0rem 0.223rem 0rem 0rem;
  width: 1.072rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-UTg {
  margin: 0rem 0.175rem 0rem 0rem;
  width: 0.72rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-Nox {
  margin-top: 0rem;
  width: 0.904rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tab-example-light-desktop-g3x {
  margin: 0.1rem 13.4rem 0rem 0rem;
  width: 86.5rem;
  height: 4.5rem;
  flex-shrink: 0;
}
.tabs-kpW {
  width: 66.5rem;
  height: 4.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.desktop-tab-nFQ {
  width: 5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1353-72n {
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.rectangle-778-uzE {
  width: 100%;
  height: 0.3rem;
  background-color: #14abb5;
  flex-shrink: 0;
}
.desktop-tab-EFp {
  width: 7.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0 0.8rem 0 0;
  flex-shrink: 0;
}
.frame-1353-kzr {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-tab-rgW {
  width: 4.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1353-Byg {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-tab-xsx {
  width: 12.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1353-W8n {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-tab-wjt {
  width: 4.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1353-tf8 {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-tab-jve {
  width: 7.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1353-eXp {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-tab-uyY {
  width: 6.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1353-brN {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2580-4zr {
  margin: 0.8rem 0;
  box-sizing: border-box;
  padding-left: 0.3rem;
  height: calc(100% - 1.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.icon-9WW {
  margin-right: 2.3rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.basket-qPL {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.icon-aLv {
  width: 1.6rem;
  height: 1.8rem;
  position: absolute;
  left: 0.4rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-28-Tfc {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14abb5;
  border-radius: 10rem;
}
.header-secondary-ynN {
  box-sizing: border-box;
  padding: 1.4rem 16.1rem 1.4rem 114.7rem;
  width: 191.9rem;
  height: 5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: #f9fafb;
}
.frame-2562-cKY {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.text-button-uJe {
  margin-right: 0.75rem;
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.2rem 0.8rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2857142857;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.clinicasermedslpgmailcom-Jra {
  margin-right: 3.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-8-800-550-71-76-jS6 {
  margin-right: 2.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2486-ybL {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.text-6AA {
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.text-1H8 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.text-qmx {
  width: 41.8rem;
  height: 4rem;
  position: absolute;
  left: 16rem;
  top: 16rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.auto-group-f5ug-rBG {
  width: 159.9rem;
  height: 75.6rem;
  position: absolute;
  left: 16rem;
  top: 22rem;
  display: flex;
  align-items: center;
}
.auto-group-rnna-kXY {
  margin-right: 15.5rem;
  width: 106rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2451-9Zg {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.receiving-Urr {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
  flex-shrink: 0;
}
.item-1-vir {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.line-64-U86 {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.item--ZfL {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2450-CCW {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  height: 9.4rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-2630-gdU {
  width: 41.6rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.frame-2625-R5G {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 1rem 1rem 1.6rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #14abb5;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.radiobutton-vXp {
  margin: 0.6rem 7.6rem 0rem 0rem;
  width: 8rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.radiobutton-dqY {
  margin-bottom: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.frame-2626-4AA {
  text-decoration: none;
  box-sizing: border-box;
  padding: 1rem 1rem 1.6rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.radiobutton-AU6 {
  margin: 0.6rem 6.3rem 0rem 0rem;
  width: 9.3rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.radiobutton-mTt {
  margin-bottom: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #9ca3af;
  box-sizing: border-box;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.auto-group-p63g-XbU {
  box-sizing: border-box;
  padding-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2446-3pi {
  margin-bottom: 4rem;
  width: 105.9rem;
  flex-shrink: 0;
}
.receiving-ZYA {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
}
.item-1-gMt {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.line-64-XNW {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.item--Zpz {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.courier-DPk {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 1rem;
}
.basic-input-qvv {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-2627-Qce {
  height: 4.4rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-shrink: 0;
}
.basic-input-JCE {
  width: 11rem;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #e5e7eb;
  box-sizing: border-box;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.basic-input-evJ {
  width: 11rem;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #e5e7eb;
  box-sizing: border-box;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.basic-input-fqQ {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 11rem;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.basic-input-fyp {
  box-sizing: border-box;
  padding: 1rem 1.2rem;
  width: 49.8rem;
  height: 9.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.frame-2452-Dtr {
  width: 105.9rem;
  flex-shrink: 0;
}
.receiving-8F8 {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
}
.item-1-Pgr {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.line-64-hhY {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.item--cJi {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.courier-y2n {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 1rem;
}
.basic-input-eei {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.basic-input-rEz {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.basic-input-oZY {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-333-Jei {
  margin: 4.8rem 0rem 13.4rem 0rem;
  box-sizing: border-box;
  padding: 2rem 0.4rem 0rem 2rem;
  width: 38.4rem;
  height: calc(100% - 18.2rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2604-Mst {
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  padding-bottom: 2.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.2rem #e4e4e7;
  flex-shrink: 0;
}
.auto-group-1vcn-SPY {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.text-xsg {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2624-Fbt {
  height: 16rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.auto-group-k1nv-a8N {
  margin-right: 0.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-164-s7U {
  margin-bottom: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2602-upr {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.auto-group-kjpi-bBt {
  margin-right: 0.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2600-gz2 {
  margin-bottom: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2603-YmL {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.auto-group-6sg2-s2v {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2604-B3c {
  margin-bottom: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2599-FZG {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.auto-group-qppu-mGi {
  box-sizing: border-box;
  padding-left: 0.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2605-hAN {
  margin-right: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2601-aEA {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2598-DH8 {
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.auto-group-myp6-HXt {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-320-Cer {
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2.3rem 1rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Tan {
  margin-right: 12.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-350-seW {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-323-AtW {
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--f4a {
  margin-right: 20.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-350-SDk {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-325-Xkz {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--RbU {
  margin-right: 16.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WN2 {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-324-yFc {
  justify-content: space-between;
  align-items: center;
  
  width: 100% ;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--S9C {
  margin-right: 22.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-350-wLr {
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-M9g {
  text-decoration: none;
  margin: 0rem 1.6rem 2rem 0rem;
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  overflow: hidden;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #14abb5;
  border-radius: 10rem;
  flex-shrink: 0;
}
.txt-vMC {
  margin-right: 1.6rem;
  max-width: 34.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #a1a1aa;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-2455-Xbt {
  width: 105.9rem;
  height: 28.8rem;
  position: absolute;
  left: 16.1rem;
  top: 101.6rem;
}
.receiving-DUi {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
}
.item-1-jT4 {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.line-64-19g {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.item--rRC {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.courier-J2J {
  box-sizing: border-box;
  padding: 2rem 18.5rem 2rem 2rem;
  width: 100%;
  height: 24rem;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 1rem;
}
.frame-2629-8n2 {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 2rem;
  width: 34rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.frame-2631-eVU {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.input-text-nbg {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.basic-input-FkA {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-2634-NiJ {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-2633-s9G {
  margin-right: 1rem;
  width: 14.5rem;
  height: 100%;
  flex-shrink: 0;
}
.input-text-zjg {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.basic-input-v7Y {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
}
.frame-2632-sS6 {
  width: 14.5rem;
  height: 100%;
  flex-shrink: 0;
}
.input-text-Qwp {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.basic-input-Y2S {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
}
.frame-2637-WNa {
  margin-top: 0.0189rem;
  width: 49.4rem;
  flex-shrink: 0;
}
.frame-2636-LcW {
  margin-bottom: 2.019rem;
  height: 2.862rem;
  display: flex;
  align-items: center;
}
.visa-4YW {
  margin: 0rem 2rem 0rem 0rem;
  width: 4.7rem;
  height: 1.443rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vorkasse-ALe {
  margin: 0.589rem 2rem 0.589rem 0rem;
  height: calc(100% - 1.1787rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.capa-1-dzv {
  margin-right: 0.2952rem;
  width: 1.6757rem;
  height: 1.6834rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-2-8Az {
  margin-top: 0.0003rem;
  width: 4.1291rem;
  height: 0.7731rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.master-card-bKU {
  margin: 0rem 2rem 0rem 0rem;
  width: 4.1rem;
  height: 2.46rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.qiwi-6GE {
  width: 2.8rem;
  height: 2.862rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2635-ner {
  box-sizing: border-box;
  padding-left: 0.24rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.icon-KPt {
  margin: 0.233rem 1.24rem 0rem 0rem;
  width: 1.92rem;
  height: 1.9647rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ssl-pci-dss-NNA {
  max-width: 46rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  flex-shrink: 0;
}
.futer-SFY {
  box-sizing: border-box;
  padding: 4rem 16rem 5.9rem 16rem;
  width: 100%;
  height: 24.9rem;
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  flex-shrink: 0;
}
.frame-2594-LLv {
  margin-right: 38.15rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2581-dav {
  margin: 0rem 5.6rem 10.4rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.image-2-iMU {
  margin-right: 1rem;
  width: 4.6rem;
  height: 4.6rem;
  position: relative;
  background-size: 136.915% 100%;
  background-position: -0.7569rem 0;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
  border-radius: 100rem;
  flex-shrink: 0;
}
.sermed-7Pc {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #006f79;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2593-KEn {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.auto-group-blns-RHp {
  box-sizing: border-box;
  padding-right: 3.95rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2589-k5C {
  margin-right: 3.6rem;
  width: 13.8rem;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sermed-brW {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--sJE {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-lkwx-9mY {
  margin-left: 0.1rem;
  width: 9.1rem;
  height: 5.4rem;
  position: relative;
  flex-shrink: 0;
}
.item--GLN {
  width: 8.3rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.item--sLA {
  width: 9rem;
  height: 2.2rem;
  position: absolute;
  left: 0.1rem;
  top: 3.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.pointing-hand-sDg {
  width: 1.7723rem;
  height: 2rem;
  position: absolute;
  left: 7.2139rem;
  top: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2590-xkv {
  width: 18.4rem;
  flex-shrink: 0;
}
.item--JJz {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.item--YMk {
  margin-left: 0.7rem;
  max-width: 17.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
}
.frame-2591-XzN {
  width: 14.6rem;
  height: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--oBC {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.babor-skinovage-ehc {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.christina-AR4 {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--dZY {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--WNS {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2592-7d8 {
  margin-bottom: 8.4rem;
  height: 6.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2587-drN {
  margin-right: 4.4rem;
  width: 24.1rem;
  flex-shrink: 0;
}
.item-8-800-550-71-76-Lkn {
  margin-bottom: 0.2rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.item--NSa {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2591-QeA {
  width: 21.9rem;
  height: 100%;
  flex-shrink: 0;
}
.clinicasermedslpgmailcom-7oU {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #18181b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2586-yan {
  margin-right: 2.6rem;
  width: calc(100% - 2.6rem);
  height: 3rem;
  display: flex;
  align-items: center;
}
.frame-2584-VZ8 {
  margin-right: 2.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.facebook-dQS {
  margin-right: 0.55rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.facebook-h9Q {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2585-AHt {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instagramm-W6r {
  margin-right: 0.6rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.instagram-2az {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
