html {
  width: auto;
	/* font-size:62.5%; */
}
@media (max-width: 4500px) {
  html {
    font-size:75%;
  }
}
@media (max-width: 2000px) {
  html {
    font-size:60%;
  }
}
@media (max-width: 1900px) {
  html {
    font-size:40%;
  }
}
@media (max-width: 300px) {
  html {
    font-size:25%;
  }
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}
.desktop-layout-7FL {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}
.auto-group-zgas-uS6 {
  width: 100%;
  height: 175.8rem;
  position: relative;
  flex-shrink: 0;
}
.header-primary-R9Y {
  box-sizing: border-box;
  padding: 1.2rem 16rem;
  width: 192.0806rem;
  height: 7rem;
  position: absolute;
  left: 0.0097rem;
  top: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.0599999987);
  background-color: #ffffff;
}
.frame-2581-gLN {
  margin-right: 33.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.image-2-9jk {
  margin-right: 1rem;
  width: 4.6rem;
  height: 4.6rem;
  position: relative;
  background-size: 136.915% 100%;
  background-position: -0.7569rem 0;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
  border-radius: 100rem;
  flex-shrink: 0;
}
.sermed-7KC {
  margin: 1.724rem 0rem 1.724rem 0rem;
  height: calc(100% - 3.448rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.vector-Ws8 {
  margin: 0rem 0.063rem 0rem 0rem;
  width: 0.88rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-1J6 {
  margin: 0.016rem 0.223rem 0rem 0rem;
  width: 0.96rem;
  height: 1.136rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-4nA {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-u26 {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-QzS {
  margin: 0rem 0.224rem 0rem 0rem;
  width: 0.912rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-Ja2 {
  margin: 0rem 0.055rem 0rem 0rem;
  width: 0.88rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-AcE {
  margin: 0rem 0.48rem 0rem 0rem;
  width: 1.024rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-3R8 {
  margin: 0rem 0.177rem 0rem 0rem;
  width: 0.848rem;
  height: 1.152rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-kqL {
  margin: 0rem 0.175rem 0rem 0rem;
  width: 0.72rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-Div {
  margin: 0rem 0.144rem 0rem 0rem;
  width: 0.848rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-soU {
  margin: 0rem 0.223rem 0rem 0rem;
  width: 1.072rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-m8A {
  margin: 0rem 0.175rem 0rem 0rem;
  width: 0.72rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.vector-Szz {
  margin-top: 0rem;
  width: 0.904rem;
  height: 1.12rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tab-example-light-desktop-geS {
  margin: 0.1rem 13.4rem 0rem 0rem;
  width: 86.5rem;
  height: 4.5rem;
  flex-shrink: 0;
}
.tabs-ajp {
  width: 66.5rem;
  height: 4.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.desktop-tab-3tJ {
  width: 5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1353-yX4 {
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.rectangle-778-B7L {
  width: 100%;
  height: 0.3rem;
  background-color: #14abb5;
  flex-shrink: 0;
}
.desktop-tab-JSr {
  width: 7.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0 0.8rem 0 0;
  flex-shrink: 0;
}
.frame-1353-ErJ {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-tab-Q8W {
  width: 4.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1353-vsY {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-tab-rPp {
  width: 12.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1353-AfQ {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-tab-bVp {
  width: 4.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1353-LTQ {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-tab-D1Q {
  width: 7.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1353-6az {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-tab-mh8 {
  width: 6.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.frame-1353-6Dc {
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding: 0.95rem 0;
  width: 100%;
  height: 4.1rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2580-ADU {
  margin: 0.8rem 0;
  box-sizing: border-box;
  padding-left: 0.3rem;
  height: calc(100% - 1.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.icon-4pe {
  margin-right: 2.3rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.basket-v6A {
  width: 3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.icon-CpN {
  width: 1.6rem;
  height: 1.8rem;
  position: absolute;
  left: 0.4rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-28-uyg {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14abb5;
  border-radius: 10rem;
}
.header-secondary-4EJ {
  box-sizing: border-box;
  padding: 1.4rem 16.1rem 1.4rem 114.7rem;
  width: 191.9rem;
  height: 5rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: #f9fafb;
}
.frame-2562-4tW {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.text-button-jze {
  margin-right: 0.75rem;
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.2rem 0.8rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2857142857;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.clinicasermedslpgmailcom-Bre {
  margin-right: 3.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-8-800-550-71-76-BkA {
  margin-right: 2.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2486-EiS {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.text-Yj8 {
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.text-3Qz {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.text-kaJ {
  width: 41.8rem;
  height: 4rem;
  position: absolute;
  left: 16rem;
  top: 16rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.1111111111;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.auto-group-uw6j-PtA {
  width: 160rem;
  height: 94.8rem;
  position: absolute;
  left: 16rem;
  top: 26.4rem;
  display: flex;
  align-items: flex-start;
}
.auto-group-5nzc-4jQ {
  margin: 2rem 15.5rem 0rem 0rem;
  width: 106rem;
  flex-shrink: 0;
}
.frame-2451-HMG {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.receiving-oqQ {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
  flex-shrink: 0;
}
.item-1-uNe {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.line-64-w4S {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.item--2bg {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2450-EBx {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  height: 9.4rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-2630-isp {
  width: 41.6rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.frame-2625-EbG {
  text-decoration: none;
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 1rem 1rem 1.6rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.radiobutton-9CS {
  margin: 0.6rem 7.3rem 0rem 0rem;
  width: 8.3rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.radiobutton-Xyg {
  margin-bottom: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #9ca3af;
  box-sizing: border-box;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.frame-2626-txe {
  box-sizing: border-box;
  padding: 1rem 1rem 1.6rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #14abb5;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.radiobutton-Qvz {
  margin: 0.6rem 6.3rem 0rem 0rem;
  width: 9.3rem;
  height: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.radiobutton-MUr {
  margin-bottom: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.frame-2446-76e {
  width: 105.9rem;
}
.receiving-dqg {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
}
.item-1-x7G {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.line-64-Tpi {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.item--jXL {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.courier-P66 {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 1rem;
}
.frame-2609-g5C {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.text-zra {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.text-tBG {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.text-tBG-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
}
.text-tBG-sub-1 {
}
.frame-2610-coQ {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.text-AK8 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.text-3dp {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.basic-input-8vA {
  box-sizing: border-box;
  padding: 1rem 1.2rem;
  width: 49.8rem;
  height: 9.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1.4rem;
  flex-shrink: 0;
}
.group-40061-B1G {
  box-sizing: border-box;
  padding: 9.299rem 46.173rem 9.299rem 49.23rem;
  width: 100%;
  height: 41.4rem;
  /* background-size: 115.082% 100%;
  background-position: -9.3489rem 0; */
  background-image: url('../image/6.1desktop-layout-placing-order-pickup/map.png');
  flex-shrink: 0;
}
.frame-2620-sPt {
  margin-bottom: 16.3053rem;
  width: 100%;
  height: 6.4966rem;
  overflow: hidden;
  position: relative;
}
.mask1-xw8 {
  margin-right: 0.0547rem;
  width: 6.5881rem;
  height: 6.5951rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask1-p1t.png');
}
.mask2-F9Y {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask2-drn.png');
}
.mask04-yrE {
  width: 6.5881rem;
  height: 6.5951rem;
  object-fit: cover;
  vertical-align: top;
}
.group-40061-B1G-bg {
  width: 101.9rem;
  height: 41.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:0c2807b47b92bf90f1768f98a00610b39b362703');
}
.frame-333-MEW {
  box-sizing: border-box;
  padding: 2rem 0.7rem 0rem 2rem;
  width: 38.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2604-3NE {
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  padding-bottom: 2.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.2rem #e4e4e7;
  flex-shrink: 0;
}
.auto-group-y31g-xVC {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.text-ExW {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2624-xdc {
  height: 16rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.auto-group-6jij-R1Q {
  margin-right: 0.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-164-k3g {
  margin-bottom: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2602-DT4 {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.auto-group-kegn-8K8 {
  margin-right: 0.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2600-Fee {
  margin-bottom: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2603-8yL {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.auto-group-7mbt-Y1U {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2605-TPL {
  margin-bottom: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2599-jre {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.auto-group-pgyk-Fa6 {
  box-sizing: border-box;
  padding-left: 0.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2604-WW2 {
  margin-right: 0.4rem;
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2601-MmY {
  width: 6.2rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.frame-2598-GNi {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.auto-group-iy8n-CXG {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-320-Ujg {
  justify-content: space-between;
  margin: 0rem 2.1rem 1rem 0rem;
  width: calc(100% - 2.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--A6i {
  margin-right: 12.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-350-mMQ {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-323-MqQ {
  justify-content: space-between;
  margin-right: 2.3rem;
  width: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--g6z {
  margin-right: 20.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-350-Anr {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-325-dRY {
  justify-content: space-between;
  margin-bottom: 1rem;
  width: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--XWv {
  margin-right: 15.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Qqc {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-324-fFk {
  justify-content: space-between;
  margin-right: 1.7rem;
  width: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--xEr {
  margin-right: 8.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-350-BdQ {
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.button-e1C {
  text-decoration: none;
  margin: 0rem 1.6rem 2rem 0rem;
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  overflow: hidden;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #14abb5;
  border-radius: 10rem;
  flex-shrink: 0;
}
.txt-aZ4 {
  margin-right: 1.3rem;
  max-width: 34.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #a1a1aa;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-2452-xZc {
  width: 105.9rem;
  height: 29.4rem;
  position: absolute;
  left: 16rem;
  top: 125.2rem;
}
.receiving-dfk {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
}
.item-1-63Y {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.line-64-Zhp {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.item--sCi {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.courier-hBk {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 1rem;
}
.basic-input-yf4 {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  height: 4.4rem;
  border: solid 0.2rem #edfbfb;
  border-radius: 1rem;
  background-color: #f9fafb;
  flex-shrink: 0;
}
.value-with-cursor-Tq8 {
  width: 9.9rem;
  height: 100%;
  position: relative;
}
.input-text-zaA {
  width: 9.9rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-indicator-p3Q {
  width: 0.1rem;
  height: 2rem;
  position: absolute;
  left: 8.5rem;
  top: 0.1rem;
  background-color: #000000;
}
.basic-input-Rot {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  height: 4.4rem;
  border: solid 0.2rem #edfbfb;
  border-radius: 1rem;
  background-color: #f9fafb;
  flex-shrink: 0;
}
.value-with-cursor-wXL {
  width: 4.2rem;
  height: 100%;
  position: relative;
}
.input-text-QQv {
  width: 4.2rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.edit-indicator-DdG {
  width: 0.1rem;
  height: 2rem;
  position: absolute;
  left: 3.8rem;
  top: 0.1rem;
  background-color: #000000;
}
.basic-input-59g {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.basic-input-fdg {
  box-sizing: border-box;
  padding: 1.1rem 1.2rem;
  width: 49.8rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e5e7eb;
  background-color: #f9fafb;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-2455-kHk {
  width: 105.9rem;
  height: 11.2rem;
  position: absolute;
  left: 16.1rem;
  top: 158.6rem;
}
.receiving-p2i {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0 0;
}
.item-1-XC2 {
  margin-right: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.line-64-RoC {
  margin: 0rem 0.8rem 1.75rem 0rem;
  width: 0rem;
  height: 0.2rem;
  background-color: #111827;
  flex-shrink: 0;
}
.item--XrE {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.courier-cWJ {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0 1rem 1rem 1rem;
}
.frame-2444-Gqk {
  width: 20.4rem;
  height: 2.4rem;
  position: absolute;
  left: 16rem;
  top: 22rem;
  display: flex;
  align-items: center;
}
.item--K3L {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #6b7280;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.text-button-ydg {
  width: 11.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.text-WtW {
  width: 10rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.icon-Nfp {
  width: 1.4rem;
  height: 0.7rem;
  position: absolute;
  left: 9.3rem;
  top: 0.9rem;
  object-fit: contain;
  vertical-align: top;
}
.futer-eNS {
  box-sizing: border-box;
  padding: 4rem 16rem 5.9rem 16rem;
  width: 100%;
  height: 24.9rem;
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  flex-shrink: 0;
}
.frame-2594-wsL {
  margin-right: 38.15rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2581-pRL {
  margin: 0rem 5.6rem 10.4rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.image-2-joC {
  margin-right: 1rem;
  width: 4.6rem;
  height: 4.6rem;
  position: relative;
  background-size: 136.915% 100%;
  background-position: -0.7569rem 0;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
  border-radius: 100rem;
  flex-shrink: 0;
}
.sermed-P74 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #006f79;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2593-4iz {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.auto-group-b9ki-18S {
  box-sizing: border-box;
  padding-right: 3.95rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2589-8Tx {
  margin-right: 3.6rem;
  width: 13.8rem;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sermed-o4J {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--oTc {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-edvn-fEv {
  margin-left: 0.1rem;
  width: 9.1rem;
  height: 5.4rem;
  position: relative;
  flex-shrink: 0;
}
.item--wiE {
  width: 8.3rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.item--p1L {
  width: 9rem;
  height: 2.2rem;
  position: absolute;
  left: 0.1rem;
  top: 3.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.pointing-hand-15p {
  width: 1.7723rem;
  height: 2rem;
  position: absolute;
  left: 7.2139rem;
  top: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2590-4Zt {
  width: 18.4rem;
  flex-shrink: 0;
}
.item--ZWe {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ZQA {
  margin-left: 0.7rem;
  max-width: 17.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
}
.frame-2591-ve2 {
  width: 14.6rem;
  height: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--2wx {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.babor-skinovage-tUN {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.christina-Msk {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--DQA {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--DoU {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2592-GWr {
  margin-bottom: 8.4rem;
  height: 6.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2587-PrN {
  margin-right: 4.4rem;
  width: 24.1rem;
  flex-shrink: 0;
}
.item-8-800-550-71-76-83G {
  margin-bottom: 0.2rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.item--aR4 {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2591-DD8 {
  width: 21.9rem;
  height: 100%;
  flex-shrink: 0;
}
.clinicasermedslpgmailcom-VgS {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #18181b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2586-PG2 {
  margin-right: 2.6rem;
  width: calc(100% - 2.6rem);
  height: 3rem;
  display: flex;
  align-items: center;
}
.frame-2584-uEN {
  margin-right: 2.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.facebook-yk2 {
  margin-right: 0.55rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.facebook-6pe {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2585-z9L {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instagramm-JQv {
  margin-right: 0.6rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.instagram-CFQ {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #4b5563;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
