
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.mobile-vfQ {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.mobile-vfQ .auto-group-fa8n-Ste {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J {
  margin: 0rem 0rem 1rem 0rem;
  box-sizing: border-box;
  padding: 1rem 1.25rem 1rem 1.5rem;
  width: calc(100% - 0rem);
  height: 6.2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS {
  margin: 0.3rem 13.15rem 0.3rem 0rem;
  height: calc(100% - 0.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .image-2-tPG {
  margin-right: 0.9249rem;
  width: 3.6rem;
  height: 3.6rem;
  position: relative;
  background-size: 136.915% 100%;
  background-position: -0.5923rem 0;
  background-image: url('REPLACE_IMAGE:ee2b50aa0a3148a7ba50f13bded550e94f277436');
  border-radius: 100rem;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe {
  margin: 1.375rem 0rem 1.312rem 0rem;
  height: calc(100% - 2.6874rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-ZNv {
  margin: 0rem 0.05rem 0rem 0rem;
  width: 0.6971rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-r78 {
  margin: 0.013rem 0.177rem 0rem 0rem;
  width: 0.7605rem;
  height: 0.8999rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-8qL {
  margin: 0rem 0.177rem 0rem 0rem;
  width: 0.7225rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-Dbt {
  margin: 0rem 0.177rem 0rem 0rem;
  width: 0.7225rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-vFQ {
  margin: 0rem 0.177rem 0rem 0rem;
  width: 0.7225rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-QwG {
  margin: 0rem 0.044rem 0rem 0rem;
  width: 0.6971rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-KHY {
  margin: 0rem 0.38rem 0rem 0rem;
  width: 0.8112rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-QJz {
  margin: 0rem 0.14rem 0rem 0rem;
  width: 0.6718rem;
  height: 0.9126rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-6hc {
  margin: 0rem 0.139rem 0rem 0rem;
  width: 0.5704rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-bPU {
  margin: 0rem 0.114rem 0rem 0rem;
  width: 0.6718rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-5ZY {
  margin: 0rem 0.177rem 0rem 0rem;
  width: 0.8492rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-BMg {
  margin: 0rem 0.139rem 0rem 0rem;
  width: 0.5704rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .group-40071-CWS .sermed-WQe .vector-gJS {
  margin-top: 0rem;
  width: 0.7161rem;
  height: 0.8872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .frame-2649-yYS {
  box-sizing: border-box;
  padding-top: 0.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .frame-2649-yYS .icon-J4v {
  margin-bottom: 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2650-x6J .frame-2649-yYS .item--RHx {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2857142857;
  color: #18181b;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2684-reA {
  margin: 0rem 21.3rem 0rem 1.5rem;
  box-sizing: border-box;
  padding-left: 0.8rem;
  width: calc(100% - 22.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2684-reA .icon-8bg {
  margin: 0rem 1.1rem 0rem 0rem;
  width: 0.7rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-vfQ .auto-group-fa8n-Ste .frame-2684-reA .text-1vN {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  color: #111827;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 66.4rem;
  overflow: hidden;
  position: relative;
  row-gap: 0.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-ueN {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-V6n {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.375;
  color: #14abb5;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #edfbfb;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-uRQ {
  box-sizing: border-box;
  padding: 0.9rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2857142857;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-ite {
  box-sizing: border-box;
  padding: 0.9rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2857142857;
  color: #374151;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-x2J {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-stateactive-typemenu-item-sizemedium-nX8 {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-pyc {
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-rQW {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-HVp {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-7jk {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-kXp {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-B7L {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-Pz6 {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-pZc {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-qjc {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-sRQ {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.mobile-vfQ .dropdown-menu-single-select-Ws8 .iconno-icon-statedefault-typemenu-item-sizemedium-u7C {
  box-sizing: border-box;
  padding: 0.7rem 1.6rem;
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  color: #111827;
  font-family: PT Root UI, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
